#new_dose {
  width: 500px;
  font-size: 12px;
  align-items: center;
  padding: 20px;
  margin: 10px auto;
}


#new_cocktail {
  width: 500px;
  font-size: 12px;
  align-items: center;
  padding: 20px;
  margin: auto;
  background-color: white;

}
